line1.enabled = 1
line1.displayname = PhoneB
line1.screenname = 101

line1.user = 101
line1.authname = 101
line1.password = 101

# Register to Phone A
line1.proxy = 192.168.1.10
line1.proxyport = 5060
line1.registrar = 192.168.1.10
line1.registrarport = 5060

line1.outboundproxy =
line1.outboundproxyport = 0

line1.registrationperiod = 60
line1.linemode = Generic
line1.callwaiting = 1

line1.dtmf = rfc2833

nat.keepalive = 0
stun.enabled = 0

dialplan = [1]xx|sip:*@*.*.*
